In [626]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd
import tweepy
import time

In [590]:
#NASA Mars News

In [591]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

In [592]:
browser = Browser('chrome', **executable_path, headless=False)

In [593]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

In [594]:
browser.visit(url)

In [595]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#print(soup.prettify())

In [596]:
news_title = soup.find('div', 'content_title', 'a')
news_title.text
#news_title = soup.find_all('div', 'content_title', 'a')
#for title in news_title:
    #print(title.text.strip())

'NASA Engineers Dream Big with Small Spacecraft'

In [597]:
news_text = soup.find('div', 'article_teaser_body')
news_text.text
#news_text = soup.find_all('div', 'article_teaser_body')
#for text in news_text:
    #print(text.text.strip())

'The first CubeSat mission to deep space will launch in May.'

In [598]:
#JPL Mars Space Images - Featured Image

In [599]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [600]:
# URL of page to be scraped
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [601]:
image = soup.find("a",class_="button fancybox")["data-fancybox-href"]
featured_image_url = "https://jpl.nasa.gov"+image
featured_image_url

'https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA18429_ip.jpg'

In [602]:
#Mars Weather
# Twitter API Keys
consumer_key = "vnn94VlkLW6ftf3umIyqvdkDc"
consumer_secret = "0h6CnRFCa43h9yrXbe1zAB6vE9PVIRP1D6NO4lRweIBZNwCRay"
access_token = "942946411133337600-TqcZS5K3pX1gznvkFFDKaotuEdhuafO"
access_token_secret = "E3qQ5VBTuUc1uNmokmzm4CoUypjpRnCWp4RWTdVq2zUTs"

In [603]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
user="@MarsWxReport"

In [604]:
mars_tweet = api.user_timeline(user, count=1)
mars_weather=mars_tweet[0]['text']
mars_weather

'Sol 2029 (April 21, 2018), Sunny, high -11C/12F, low -72C/-97F, pressure at 7.22 hPa, daylight 05:25-17:21'

In [605]:
#Mars Facts
url3 = "https://space-facts.com/mars/"

In [606]:
table_mars = pd.read_html(url3)
table_mars

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [607]:
df=table_mars[0]
df.columns = ['Mars Facts', 'Measurements']
df

             Mars Facts                   Measurements
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [608]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Facts</th>\n      <th>Measurements</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [609]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars Facts</th>      <th>Measurements</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [610]:
df.to_html('table.html')

In [461]:
!open table.html

In [627]:
#Mars Hemispheres
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [628]:
hemi_title=[]
title_hemi=soup.find_all("h3")
for title in title_hemi:
    hemi_title.append(title.text.strip())
print(hemi_title)

['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']

In [629]:
hemisphere_image_urls=[]

for i in range(len(hemi_title)):
    time.sleep(5)
    title=hemi_title[i]
    image=browser.find_by_tag('h3')
    image[i].click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    partial=soup.find("img", class_="wide-image")["src"]
    img_url='https://astrogeology.usgs.gov'  + partial
    dictionary={"title":title,"img_url":img_url}
    hemisphere_image_urls.append(dictionary)
    browser.back()

In [630]:
print( hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [640]:
hemisphere_image_urls[0]["title"]

'Cerberus Hemisphere Enhanced'